[defaults]
inventory = ./inventory/hosts.ini
host_key_checking = True
retry_files_enabled = False

[libssh_connection]
host_key_auto_add = True

[persistent_connection]
connect_timeout = 60
command_timeout = 120
